/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #fff;
}

body {
  accent-color: var(--coral-600);
  min-height: 100vh;
  color: #333;
  background-color: var(--white-50);
  font-size: 16px;
  line-height: 20px;
  max-height: 50vh;
}

body,
input {
  font-family: 'Inter', sans-serif;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--fruit-salad-500);
  cursor: pointer;
}

:root {
  /* COLORS */

  /*Primary*/
  --fruit-salad-50: #f4f9f4;
  --fruit-salad-100: #e5f3e6;
  --fruit-salad-200: #cce6cd;
  --fruit-salad-300: #a3d2a6;
  --fruit-salad-400: #73b578;
  --fruit-salad-500: #5ba961;
  --fruit-salad-600: #3d7c42;
  --fruit-salad-700: #336237;
  --fruit-salad-800: #2c4f2f;
  --fruit-salad-900: #264129;
  --fruit-salad-950: #102312;

  /*Accent*/
  --coral-50: #fff6ed;
  --coral-100: #ffebd4;
  --coral-200: #ffd2a9;
  --coral-300: #ffb272;
  --coral-400: #fe934d;
  --coral-500: #fc6513;
  --coral-600: #ed4b09;
  --coral-700: #c53609;
  --coral-800: #9c2b10;
  --coral-900: #7e2610;
  --coral-950: #441006;

  /*Background*/
  --zircon-50: #fafcff;
  --zircon-100: #e0ecfe;
  --zircon-200: #bad9fd;
  --zircon-300: #7dbafc;
  --zircon-400: #3897f8;
  --zircon-500: #0e79e9;
  --zircon-600: #025dc7;
  --zircon-700: #0349a1;
  --zircon-800: #074085;
  --zircon-900: #0c366e;
  --zircon-950: #082249;

  /*Text*/
  --blue-charcoal-50: #f0f8fd;
  --blue-charcoal-100: #cbe9fc;
  --blue-charcoal-200: #97d1f8;
  --blue-charcoal-300: #5baded;
  --blue-charcoal-400: #2a86d7;
  --blue-charcoal-500: #1169bb;
  --blue-charcoal-600: #0a5097;
  --blue-charcoal-700: #0d4078;
  --blue-charcoal-800: #10355f;
  --blue-charcoal-900: #122f4f;
  --blue-charcoal-950: #01070f;

  /*Secondary*/
  --white-50: #ffffff;
  --white-100: #efefef;
  --white-200: #dcdcdc;
  --white-300: #bdbdbd;
  --white-400: #989898;
  --white-500: #7c7c7c;
  --white-600: #656565;
  --white-700: #525252;
  --white-800: #464646;
  --white-900: #3d3d3d;
  --white-950: #292929;

  /*Black*/
  --black-50: #f7f7f7;
  --black-100: #e3e3e3;
  --black-200: #c8c8c8;
  --black-300: #a4a4a4;
  --black-400: #818181;
  --black-500: #666666;
  --black-600: #515151;
  --black-700: #434343;
  --black-800: #383838;
  --black-900: #313131;
  --black-950: #000000;


  /*Buttons*/

  /*Primary*/
  --primary-btn-text-color: var(--fruit-salad-50);
  --primary-btn-default-color: var(--fruit-salad-500);
  --primary-btn-hover-color: var(--fruit-salad-600);
  --primary-btn-active-color: var(--fruit-salad-700);
  --primary-btn-disable-color: var(--fruit-salad-200);
  --primary-btn-disable-text-color: var(--fruit-salad-700);
  /*Accent*/
  --accent-btn-text-color: var(--coral-50);
  --accent-btn-default-color: var(--coral-500);
  --accent-btn-hover-color: var(--coral-600);
  --accent-btn-active-color: var(--coral-700);
  --accent-btn-disable-color: var(--coral-200);
  --accent-btn-disable-text-color: var(--coral-700);


  --max-width: 1024px;
  --border-radius: 6px;
}


/*Especificidad 10*/
.flex {
  display: flex;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-center-center {
  align-items: center;
  justify-content: center;
}

.container-1024 {
  max-width: var(--max-width);
}

.inputs-wrap {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/*Text field styles*/
.input-field {
  font-weight: 500;
}

.input-field__label {
  font-size: 1rem;
  gap: 6px;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
}

.hidden {
  visibility: hidden;
}

.input-field__input {
  position: relative;
  border: none;
  border: 1px solid var(--black-400);
  border-radius: var(--border-radius);
  background-color: transparent;
  padding: 10px;
  font-weight: inherit;
  font-size: 16px;
  font-weight: 400;
}

.input-field__input.input-field__input--error {
  border-color: #ff0000;
  background-image: url("../imgs/input_error.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1rem;
}

.input-field__input.input-field__input--ok {
  border-color: #008000;
  background-image: url("../imgs/input_ok.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1rem;
}

/*button styles*/

.button {
  height: 50px;
}

.button__input {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-btn-default-color);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}


.button-link {
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--primary-btn-default-color);
}

.button-link--accent {
  background-color: transparent;
  color: var(--accent-btn-default-color);
  font-weight: 500;
}

.button--eliminar {
  background-color: transparent;
  color: #ff2323;
  font-weight: 400;
}


/*NAV styles*/
.navigation-wrap {
  height: 100px;
  max-height: 100px;
  justify-content: center;
}

.container-1024 {
  width: var(--max-width);
}

.navigation-container {
  height: 100%;
  justify-content: space-between;
}

.navigation__brand {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  max-height: 70px;
}

.brand__img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.brand__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navigation__menu {
  gap: .5rem;
}

.menu-link {
  padding: 4px;
  color: var(--black-300);
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 1px;
}

.menu-link:hover {
  border: 2px dashed var(--coral-300);
  border-radius: 5px;
  color: var(--coral-300);
}

/*login-register styles*/
.login-register {
  width: 100%;
  min-height: 100vh;
}

.login-register__container {
  flex: 1;
  padding: 2rem;
}

.login-register-form-wrap {
  height: 100%;
}

.login-register__form {
  height: 100%;
  justify-content: space-between;
}

.login-register__header {
  text-align: center;
  gap: 1rem;
}

.register-step--2,
.register-step--3 {
  display: none;
}

.opcional {
  color: var(--white-300);
  font-weight: 300;
}

.actions span {
  margin-top: 2.5rem;
  text-align: center;
}

.login-register__background {
  background-image: url("../imgs/hero-img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  -webkit-mask: url("../imgs/blob.svg");
  mask: url("../imgs/blob.svg");
  -webkit-mask-position: left;
  mask-position: left;
  -webkit-mask-size: 160%;
  mask-size: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.filtro-container {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.filtro-container .input-field__input {
  width: 100%;
}

.filtro-container .input-field__input option {
  background-color: var(--white-50);
}

.filtro-container .input-field__input option:checked {
  background-color: var(--fruit-salad-500);
  color: var(--fruit-salad-50);
}

.cow-error-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cow-error {
  filter: grayscale(20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.cow-error h1 {
  font-size: 3rem;
}

.cow-error code {
  text-align: center;
}



.card-container,
.remate-lote-container {
  margin-top: 1rem;
  width: 100%;
}

.card-remate {
  display: flex;
  border: 2px dashed transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  gap: 1rem;
}

.card-remate:hover {
  background-color: var(--fruit-salad-100);
  border: 2px dashed #000000;
}

.card-remate__image {
  max-width: 120px;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 5px;
}

.card-remate__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-remate__title {
  color: var(--fruit-salad-600);
  margin: 0;
}

.card-remate__data {
  margin: 0;
}

.card-remate__estado--Finalizado {
  color: crimson;
}

.card-remate__estado--Pendiente {
  color: var(--coral-500);
}

.card-remate__estado--Rematando {
  color: var(--blue-charcoal-400);
}

.card-remate__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-remate__button a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-remate__button--eliminar a {
  color: red
}

.card-remate__button--eliminar a:visited {
  color: red
}

.card-remate__button--eliminar a:hover {
  color: rgb(255, 46, 46);
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
}

.header div.container-1024.f-row {
  display: flex;
  justify-content: space-between;
}

.header div {
  display: flex;
  align-items: center;
}

.header div h2 span {
  color: var(--white-300);
  font-weight: 400;
}

/*Especificidad 11*/
.login-register__header h1 {
  font-weight: 400;
}

.login-register__header p {
  color: rgba(0, 0, 0, 0.6);
}

/*Especificidad 20*/
.input-field__input:hover {
  border-color: var(--black-600);
}

.input-field__input:focus {
  outline-color: var(--black-900);
}

.input-field__input--error:focus {
  outline-color: red;
}

.input-field__input--ok:focus {
  outline-color: green;
}

.button__input:hover {
  background-color: var(--primary-btn-hover-color);
}

.button__input:active {
  background-color: var(--primary-btn-active-color);
}

.button-link:hover {
  background-color: var(--primary-btn-hover-color);
}

.button-link:active {
  background-color: var(--primary-btn-active-color);
}

.button-link--accent:hover {
  background-color: var(--coral-100);
  color: var(--accent-btn-hover-color);
}

.button-link--accent:active {
  background-color: var(--coral-200);
  color: var(--accent-btn-hover-color);
}

.link:visited {
  color: var(--fruit-salad-500);
}

.link:hover {
  text-decoration: underline;
  color: var(--fruit-salad-600);
}

.link:active {
  color: var(--fruit-salad-700);
}

.button__input:disabled,
.button__input:disabled:hover {
  background-color: #CCE6CD;
  color: #336237;
  cursor: not-allowed;
}

.button--eliminar:hover {
  background-color: #ffdddd;
  color: #d70000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* registro remate */
textarea {
  resize: none;
  height: 300px;
}

.lote-details {
  justify-content: space-between;
  gap: 1rem;
}

/* Estilos para la imagen del lote */
.lote-image {
  border-radius: 16px;
  overflow: hidden;
  max-height: 480px;
  max-width: 720px;
}

/* Estilos para la información del lote (oferta más alta y formulario) */
.lote-info {
  flex: 1;
  border-radius: 16px;
  justify-content: space-between;
}

/* Estilos para el formulario de oferta */
.custom-input-step {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.highest-offer {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 16px;
}

.highest-offer span {
  color: var(--coral-400)
}

.highest-offer h3,
.highest-offer h3 span {
  font-size: 2rem;
  color: var(--fruit-salad-500)
}

.custom-input-step__btn {
  border-radius: 4px;
  border: none;
  width: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.custom-input-step__btn--plus,
.custom-input-step__btn--minus {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  width: 50px;
}

.custom-input-step__btn--plus {
  background-color: #d7ffdc;
  background-image: url('../imgs/add.svg');
}

.custom-input-step__btn--plus:hover {
  background-color: #b2ffbc;
}

.custom-input-step__btn--plus:active {
  background-color: #7cff8f;
}

.custom-input-step__btn--minus {
  background-color: #ffe1e1;
  background-image: url('../imgs/remove.svg');
}

.custom-input-step__btn--minus:hover {
  background-color: #ffc7c7;
}

.custom-input-step__btn--minus:active {
  background-color: #ffa0a0;
}

.custom-input-step__input {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 50px;
  width: 100px;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.make-offer form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lote-details .lote-image img {
  background-color: #7cff8f;
  object-fit: scale-down;
}

.registro-remate__remate div.inputs-wrap,
.registro-remate__lote div.inputs-wrap,
.registro-remate__ficha div.inputs-wrap,
.perfil__usuario div.inputs-wrap,
.perfil__datos-personales div.inputs-wrap,
.editar-lote__lote div.inputs-wrap,
.editar-lote__ficha div.inputs-wrap {
  min-width: 50%;
  max-width: 50%;
}

.registro-remate__actions {
  gap: 2rem;
  justify-content: right;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-remate__title span {
  color: var(--white-300);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}

.card-remate__title span:hover {
  text-decoration: underline;
}

.lote-no-auth {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lote-no-auth span {
  text-align: center;
  font-size: 13px;
}

.highest-offer-by {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.highest-offer-by a:hover {
  text-decoration: underline;
}

a.eliminarUsuario {
  color: red;
}

.navigation__menu .menu-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 4px;
}

.profile-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
}

.profile-image-container .image-container .image {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  margin: 5px;
  transition: border-radius 0.1s;
}

.profile-image-container .image-container .image.selected {
  border-radius: 50%;
}

.profile-image-container .image-container .image:hover {
  cursor: pointer;
  border-radius: 50%;
}

.profile-image-container .image-container .image.selected {
  border-radius: 50%;
}

@media only screen and (min-width: 360px) {
  .login-register__container {
    padding: 1rem;
    padding-bottom: 3rem;
    padding-top: 0;
  }

  .login-register__background {
    display: none;
  }

  .login-register__form {
    justify-content: center;
    gap: 2.5rem;
  }


  .login-register-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
  }

  .login-register__header {
    font-size: 12px;
  }
}

@media only screen and (min-width: 375px) {
  .login-register-logo {
    height: 4rem;
  }

  .login-register__header {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .login-register__container {
    padding: 2rem;
  }

  .login-register__background {
    display: block;
  }

  .login-register__form {
    justify-content: space-between;
  }


  .login-register-logo {
    justify-content: center;
    height: 7.26rem;
  }

  .login-register__header {
    font-size: 16px;
  }
}