html {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

:root {
  font-family: 'Inter', sans-serif;

  --text-color: #01070F;
  --bg-color: #FAFCFF;
  --btn-primary-color: #54DE5F;
  --btn-primary-active-color: #3EDA4B;
  --accent-color: #6B3201;
  --input-border-color: hsla(212, 87%, 3%, 0.25);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

.container--flex {
  display: flex;
}

.container--flex-row {
  flex-direction: row;
}

.container--flex-column {
  flex-direction: column;
}

.align-self-start {
  align-self: flex-start;
}

.container__img {
  width: 70%;
  background-image: url(/public/assets/imgs/login-registro-img.webp);
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(40%);
}

.container-section {
  text-align: center;
  flex: 1;
  padding: 2.5rem;
  gap: 2rem;
  width: 100%;
}

.container-section__title {
  font-size: 3rem;
  margin: 0;
}

.container-section__name {
  font-size: 1.125rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  justify-content: center;
  flex: 1;
}

.form__input {
  height: 3.1875rem;
  border: 2px solid var(--input-border-color);
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form__password-container {
  position: relative;
}

.form__input--password {
  padding-right: 3rem;
}

.container__alternativa {
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.form__input-recuperar-contrasenia {
  color: #01070F;
  margin-top: -1rem;
}

.button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border: 2px solid transparent;
  height: 3.1875rem;
  border-radius: 6px;
  background-color: var(--btn-primary-color);
}

.form__button {
  margin-top: 2rem;
}

.button--google {
  background-color: inherit;
  border-color: var(--input-border-color);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form__password-container svg {
  cursor: pointer;
  width: 2rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  fill: hsla(214, 88%, 3%, 0.2);
}

.section__a-registro a {
  color: #54DE5F;
}


.button--google img {
  width: 1.3rem;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

.button:hover {
  background-color: hsla(125, 68%, 60%, 0.9);
}

.button:active {
  background-color: var(--btn-primary-active-color);
}

.button--google:hover {
  background-color: hsla(212, 87%, 3%, 0.025);
}

.button--google:active {
  background-color: hsla(212, 87%, 3%, 0.05);
}

.form__input-recuperar-contrasenia:hover {
  color: #54DE5F;
}

.form__input-recuperar-contrasenia:active {
  color: #3EDA4B;
}

@media screen and (max-width: 768px) {
  .container__img {
    display: none;
  }
}