# Configuración del archivo .htaccess

# Habilitar el motor de reescritura de URLs
RewriteEngine On

# Verificar si el archivo o directorio solicitado no existe físicamente en el servidor
# Si el archivo o directorio existe, no se aplicarán las siguientes reglas de reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Regla de reescritura
# Capturar la URL solicitada y pasarla como parámetro 'url' a index.php
# [L]: Indica que esta es la última regla que se aplicará si se cumple la condición
# [QSA]: Agrega las variables de consulta existentes a la URL reescrita
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
