<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="preconnect"
      href="https://rsms.me/" />
    <link
      rel="stylesheet"
      href="https://rsms.me/inter/inter.css" />
    <link
      rel="stylesheet"
      href="/public/css/normalize.css" />
    <link
      rel="stylesheet"
      href="/public/css/styles.css" />
    <title>Rumate</title>
  </head>
  <body>
    <div class="container container--flex container--flex-row">
      <div class="container-section container--flex container--flex-column">
        <h1 class="container-section__title">RUMATE</h1>
        <span class="container-section__name">Inicio de sesión</span>
        <form
          action=""
          class="form">
          <input
            type="text"
            placeholder="Nombre de usuario"
            class="form__input-text" />
          <input
            type="password"
            placeholder="Contraseña"
            class="form__input-password" />
          <button
            type="submit"
            class="section__button">
            INGRESAR
          </button>
          <span>o ingresar con</span>
          <button class="section__button section__button--google">GOOGLE</button>
        </form>
        <!-- TODO olvidaste contraseña -->
        <!-- TODO ajustar bien el posicionamiento siguiendo el makeup del login -->
        <!-- TODO responsive-->
      </div>
      <div class="container__img"></div>
    </div>
  </body>
</html>
